form input {
      width: 90%;
      padding: 8px;
      border: 1px solid gray;
    }

    form div {
      margin-bottom: 15px;
    }

    label {
      font-weight: bold;
    }

    button {
      width: 96%;
      padding: 10px;
      background-color: lightgreen;
      color: black;
    }