.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    border-bottom: 1px solid;
}

.logo{
    text-align: center;
    font-size: 1.05rem;
    font-weight: bold;
    color:black;
    text-decoration:none;
}

.nav-links{
    display: flex;
    gap: 0.5rem;
}


.nav-button{
    padding: 0.5rem 1rem;
    cursor: pointer;
    width: 100%;
    display: inline-block;
    text-align: center;
    color: black;
    background: transparent;
    border: solid;
    border-color:gray;
    border-radius: 6px;
    font-weight: 500;
    transition: all 0.2s;
}

.nav-button:hover, .nav-button.active{
    background-color:whitesmoke;
    color:lightseagreen;
}

.button-logout{
    color: rebeccapurple;
}

.button-primario{
  background-color:azure;
  color: black;
}

.button-secundario{
  background-color: aliceblue;
  color: black;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.card {
  background-color:whitesmoke;
  border: 1px solid;
  border-radius: 8px;
  padding: 1.5rem;
  margin-top: 1rem;
}


.danger-mark{
    background: lightcoral;
    color: darkred;
    padding: 0.2rem 0.5rem;
    border-radius: 4px;
}

.success-mark{
    background: lightgreen;
    color: darkgreen;
    padding: 0.2rem 0.5rem;
    border-radius: 4px;
}

.warning-mark{
    background: rgb(255, 255, 202);
    color: rgb(134, 98, 9);
    padding: 0.2rem 0.5rem;
    border-radius: 4px;
}