.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    border-bottom: 1px;
}

.logo{
    text-align: center;
    font-size: 1.05rem;
    font-weight: bold;
    color:black;
    text-decoration:none;
}

.nav-links{
    display: flex;
    gap: 0.5rem;
}


.nav-button{
    padding: 0.5rem 1rem;
    cursor: pointer;
    width: 100%;
    display: inline-block;
    text-align: center;
    color: black;
    background: transparent;
    border: solid;
    border-color:gray;
    border-radius: 6px;
    font-weight: 500;
    transition: all 0.2s;
}

.nav-button:hover, .nav-button.active{
    background-color:whitesmoke;
    color:lightseagreen;
}

.button-logout{
    color: rebeccapurple;
}

.button-primario{
  background-color:azure;
  color: black;
}

.button-secundario{
  background-color: aliceblue;
  color: black;
}
