.tabla-cultivos th,
.tabla-cultivos td{
    padding: 0.75rem 1rem;
    border-bottom: 1px solid;
    text-align: center;
}

.tabla-sensores th,
.tabla-sensores td{
    padding: 0.75rem 1rem;
    border-bottom: 1px solid;
    text-align: center;
}